* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 10px;
  min-height: 239px;
  &__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &__info {
    width: 100%;
    bottom: 0px;
    height: 35px;
    text-align: right;
  }

  &__title {
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-top: 5px;
    font-family: "marvelregular", sans-serif;
    letter-spacing: 1px;
  }
  &__text {
    display: none;
  }
}

.card:hover .card__title {
  color: rgb(209, 0, 0);
}

@media (min-width: 768px) {
  .card__info {
    height: 40px;
  }
  .card__title {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    margin: 5px;
    overflow-y: hidden;
    padding-bottom: 0px;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      bottom: -220px;
      font-family: "Roboto", sans-serif;
      backdrop-filter: blur(5px);
      background: rgba(21, 24, 27, 0.8);
      transition: 0.5s;
      position: absolute;
    }
    &__title {
      display: none;
    }
    &__info > div {
      margin-top: 0;
    }
    &__text {
      display: none;
    }
  }
  .card:hover .card__info {
    bottom: 0px;
    height: 100%;
    .card__title {
      display: block;
      font-size: 16px;
      color: rgb(209, 0, 0);
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0 5px;
      text-align: center;
    }
    .card__text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 12px;
    }
    .card__price {
      position: absolute;
      text-align: center;
      bottom: 30px;
      color: white;
      font-family: "roboto", sans-serif;
      font-size: 16px;
    }
  }
}
