.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px auto;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #dcdcdc;
  font-style: none;
  a:link {
    text-decoration: inherit;
    color: inherit;
  }

  a:visited {
    text-decoration: inherit;
    color: inherit;
  }
}

.cookies {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  &__barra {
    margin: 0 10px;
  }
  p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #dcdcdc;
    line-height: 16px;
  }
}

.editors {
  margin-top: 22px;
  margin-bottom: 12px;
  p {
    margin: 0;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #dcdcdc;
    line-height: 19px;
    text-align: center;
  }
  a {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #dcdcdc;
    line-height: 19px;
  }
}
