.search__bar {
  position: relative;
  height: 43px;
  width: 331px;
  margin-left: 35px;
  z-index: 2;
  display: flex;
}

.search__img {
  height: 23.23px;
  width: 23.23px;

  transform: rotate(90deg);
}

.search__button {
  z-index: 5;
  cursor: pointer;
  height: 50px;
  width: 40px;
  position: absolute;
  top: 8px;
  left: 20px;
}

.search__input {
  background-color: #454545;
  opacity: 0.8;
  font-family: 16px "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 0 0 0 66px;
  border: none;
  color: #ffffff;
}

.search__close {
  margin-left: 7px;
  background-color: #454545;
  opacity: 0.8;
  width: 43px;
  height: 43px;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p {
    z-index: 5;
  }
}

.search__input:focus {
  outline: none;
}
